html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: white;
  color: $grey;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

button, input {
  @include reset-input;
}
