// colors

$grey: #333;
$border: #e6e6e6;
$tag-border: $border;

// sizes

$header-height: 5rem;

$menu-btn-size: 3.6rem;
$default-padding: 2rem;

$font-size-small: 1.2rem;


$default-transition: all 0.35s ease-in-out;
$default-transition-time: 0.35s;