.active-post {
  .active__body {
    //display: none;
    opacity: 0;
    transition-delay: 0.2s;
    transition: opacity 0.15s;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    padding: 2rem;
    margin: 0;
    color: $grey;
  }
  .post__content {
    transition: all 0.15s;
  }
}