.frame {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  max-width: 100%;
  //max-height: 70rem;
  //overflow-y: scroll;
}

.frame--menu-open {

}

.frame__content {
  //position: relative;
}