.postsAnimationContainer {


  :global {
    .activePost-enter {

    }

    .postsSection-enter {
      &.postsSection-enter-active {

      }
    }

    .postsSection-leave {
      transition: all 0.5s;

      &.postsSection-leave-active {
        opacity: 0;
        height: 0;
      }
    }
  }
}