.post {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.1rem solid $border;
  border-left: none;
  border-right: none;

  height: 24rem;
}

.posts__post {
  position: relative;
}